<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/home"></ion-back-button>
      <ion-title>{{title}} DETAILS</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{icon}}" />
    <ion-card-header>
      <ion-card-title>Cricket {{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{description}}
    </ion-card-content>
  </ion-card>
</ion-content>
