// ion-header {
//   padding-top: 20px;
// }
.main-toolbar {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-bottom: 90px;
  --background: #84c7f5;
  color: #ffffff;
}
ion-content {
  --background: #ffffff;
  
}

.main-card {
  border-radius: 20px;
  // --background: #e0d044;
}

ion-label {
  text-align: center;
}

.card-aspect {
  --background: #84c7f5;
}

ion-chip {
  --background: #ffffff;
}
ion-searchbar {
  --background: #ffffff;
  --box-shadow: none;
  --border-radius: 10px;
}



